numpy==1.21.6
dynaconf==3.1.9
pandas==1.3.5
nltk==3.7
scipy==1.8.1
matplotlib==3.5.2
scikit-learn==0.24.1
codecarbon==2.1.2
dslinter==2.0.8
dulwich==0.20.42
dvc==2.10.2
dvc-render==0.0.5
dvclive==0.8.2
execnet==1.9.0
fastavro==1.4.12
fasteners==0.17.3
flatbuffers==1.12
flatten-dict==0.4.2
flufl.lock==7.0
fonttools==4.33.3
frozenlist==1.3.0
fsspec==2022.5.0
ftfy==6.1.1
funcy==1.17
future==0.18.2
fuzzywuzzy==0.18.0
gast==0.4.0
gitdb==4.0.9
GitPython==3.1.27
google-api-core==1.31.6
google-api-python-client==1.12.11
google-apitools==0.5.31
google-auth==1.35.0
google-auth-httplib2==0.1.0
google-auth-oauthlib==0.4.6
google-cloud-bigquery==2.34.3
google-cloud-bigquery-storage==2.13.1
google-cloud-bigtable==1.7.1
google-cloud-core==1.7.2
google-cloud-datastore==1.15.4
google-cloud-dlp==3.7.0
google-cloud-language==1.3.1
google-cloud-pubsub==2.13.0
google-cloud-recommendations-ai==0.2.0
google-cloud-spanner==1.19.2
google-cloud-videointelligence==1.16.2
google-cloud-vision==1.0.1
google-crc32c==1.3.0
google-pasta==0.2.0
google-resumable-media==2.3.3
googleapis-common-protos==1.56.2
grandalf==0.6
grpc-google-iam-v1==0.12.4
grpcio==1.46.3
grpcio-gcp==0.2.2
grpcio-status==1.46.3
h5py==3.7.0
hdfs==2.7.0
httplib2==0.19.1
idna==3.3
importlib-metadata==4.11.4
importlib-resources==5.7.1
iniconfig==1.1.1
ipython==7.34.0
isort==5.10.1
jedi==0.18.1
joblib==0.14.1
keras==2.9.0
Keras-Preprocessing==1.1.2
kiwisolver==1.4.2
lazy-object-proxy==1.7.1
libclang==14.0.1
mailchecker==4.1.17
Markdown==3.3.7
matplotlib-inline==0.1.3
mccabe==0.6.1
mllint==0.12.1
multidict==6.0.2
mypy==0.931
mypy-extensions==0.4.3
nanotime==0.5.2
networkx==2.6.3
oauth2client==4.1.3
oauthlib==3.2.0
opt-einsum==3.3.0
orjson==3.7.1
overrides==6.1.0
packaging==21.3
parameterized==0.8.1
parso==0.8.3
pathspec==0.9.0
phonenumbers==8.12.49
pickleshare==0.7.5
Pillow==9.1.1
platformdirs==2.5.2
pluggy==1.0.0
prompt-toolkit==3.0.29
proto-plus==1.20.5
protobuf==3.19.4
prometheus-client==0.14.1
psutil==5.9.1
py==1.11.0
py-cpuinfo==8.0.0
py4j==0.10.9
pyarrow==5.0.0
pyasn1==0.4.8
pyasn1-modules==0.2.8
pycparser==2.21
pydot==1.4.2
pyfarmhash==0.3.2
pygit2==1.9.2
Pygments==2.12.0
pygtrie==2.4.2
pylint==2.12.2
pytest==7.1.2
pytest-xdist==2.5.0
termgraph==0.5.3
tensorflow-data-validation==1.8.0
jinja2==3.1.2
