numpy
pandas
nltk
scipy==1.6.2
matplotlib
scikit-learn==0.24.1
codecarbon
dslinter
pylint==2.12.2
dvc
pytest
pytest-xdist
parameterized
mllint
joblib
tensorflow-data-validation
ipython
termgraph
tensorflow-data-validation[visualization]
